.rmPadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.rmPaddingSideBar {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 100px !important;
}

.section {
  margin: 50px 0;
}

.otherTitle {
  text-align: left;
  margin-bottom: 30px;
}

//? ============== Tablet Landscape Version ============= ?//
@media screen and (max-width: 1024px) {
  .otherArticleContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
}
// * ====================================== * //
