@use "/themes/styles/base/colors";

.section {
  height: 60vh;
  display: flex;
  align-items: center;
}

.resendLoading {
  color: colors.$fulvous;
  font-size: 10px;
  margin-top: 10px;
}

.resendButton {
  margin-top: 20px;
}

//? ============== Mobile Mode ============= ?//

@media screen and (max-width: 500px) {
  .section {
    height: 80vh;
  }
}
// * ====================================== * //
