//? ============== Banner Section ============= ?//
.bannerTitle {
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
  p {
    color: #eaeaea;
    margin-bottom: 0;
  }
}
// * ====================================== * //
