//? ============== Banner Section ============= ?//
.bannerTitle {
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
  p {
    color: #eaeaea;
    margin-bottom: 0;
  }
}
// * ====================================== * //
//? ============== Benefit Section ============= ?//
.titleSection {
  color: orange;
  margin-top: 5%;
}
.benefitSection {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}
// * ====================================== * //
