@use "/themes/styles/base/font-size";

.section {
  text-align: center;
}

.container {
  justify-content: center;
  text-align: center;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.title {
  font-size: font-size.$heading-3;
  margin: 30px 0;
}

//? ============== Tablet Portrait Mode ============= ?//
@media screen and (max-width: 768px) {
  .roleOption {
    margin-bottom: 10px;
  }
  .selectBtn {
    width: 100%;
  }
}
// * ====================================== * //
