.artistDetailsSection {
  margin: 50px 0;
}

.bannerImageContainer {
  height: 495px;
  img {
    object-fit: cover;
  }
}

.profileImageContainer {
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: auto;
  position: relative;
}

.profileImageBox {
  width: 100%;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  top: -150px;
}

.profileImage {
  margin: 0 auto;
  width: 350px;
  border-radius: 100%;
  object-fit: cover;
  border: 10px solid #ffffff;
}

.profileDetails {
  margin-top: 20px;
  padding-right: 50px !important;
}

.profileDetailsContent {
  p {
    margin-bottom: 0;
  }
}

.artistLocation {
  font-size: 16px;
}

.artistDate {
  font-size: 16px;
}

.artistName {
  font-size: 48px;
  margin-bottom: 0;
}

.artistBio {
  margin-top: 30px;
  font-size: 18px;
}

.socialProfileContainer {
  margin: 30px 0;
}

.socialIcon {
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #140c01;
  &:hover {
    color: #e5890a;
    svg {
      path {
        fill: #e5890a;
      }
    }
  }
}

.artworkListTitle {
  text-align: center;
  margin-bottom: 20px;
}

.divider {
  text-align: center;
  margin: 30px 0;
  button {
    height: 50px !important;
  }
}

.socialProfileBox {
  justify-content: flex-end;
}

.shareTitle {
  font-size: 20px;
  text-align: right;
  margin-bottom: 15px;
}

//? ============== Tablet Landscape Mode ============= ?//
@media screen and (max-width: 1024px) {
  .profileImageBox {
    height: 300px;
  }
  .profileImage {
    width: 300px;
  }
  .artistName {
    font-size: 42px;
  }
}
// * ====================================== * //

//? ============== Tablet Portrait Mode ============= ?//
@media screen and (max-width: 768px) {
  .profileImageContainer {
    height: calc(350px - 150px);
  }
  .profileImageBox {
    height: 350px;
    top: -200px;
  }
  .profileImage {
    width: 350px;
  }
  .profileDetails {
    margin-top: 0px;
    padding-right: 32px !important;
    padding-left: 32px !important;
    position: relative;
    &::before {
      width: calc(100% - 64px);
      height: 3px;
      margin: 0 auto;
      left: 32px;
      top: -25px;
      margin-bottom: 20px;
    }
  }
}
// * ====================================== * //

//? ============== Mobile Mode ============= ?//
@media screen and (max-width: 500px) {
  .profileContainer {
    justify-content: center;
  }
  .bannerImageContainer {
    height: 250px;
  }
  .profileImageContainer {
    height: calc(200px - 100px);
  }
  .profileImageBox {
    height: 200px;
    top: -100px;
  }
  .profileImage {
    width: 200px;
  }
  .profileDetails {
    text-align: center;
    top: 0px;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .artistName {
    font-size: 32px;
  }
  .artistBio {
    font-size: 16px;
  }
  .socialProfileBox {
    justify-content: center;
  }
  .shareTitle {
    font-size: 16px;
    text-align: center;
  }
}
// * ====================================== * //
