@use "/themes/styles/base/colors";
@use "/themes/styles/base/font-size";

.collapse {
  // background-color: #f5ebe1;
  width: 100%;
}

.container {
  margin: 40px auto 0px;
  width: 100%;
  p {
    font-size: font-size.$paragraph;
  }
  h4 {
    font-size: font-size.$paragraph;
    font-weight: 700;
    margin-bottom: 0px;
    span {
      color: colors.$fulvous;
    }
  }
}
