@use "/themes/styles/base/colors";
@use "/themes/styles/base/font-size";

.bgWhite {
  background-color: colors.$white;
}

.bannerContainer {
  height: 420px;
  :global(.banner-image) {
    height: 420px;
  }
}

.searchContainer {
  height: 80px;
  width: 100%;
  align-items: center;
  p {
    margin-bottom: 0px;
  }
  h4 {
    font-size: font-size.$heading-3 !important;
    margin: 0px;
  }

  .divider {
    height: 18px;
    background-color: rgba(217, 217, 217, 1);
  }
  .click {
    cursor: pointer;
    &:hover {
      transition: all ease 300ms;
      h4,
      p {
        color: colors.$fulvous !important;
      }
    }
  }
}

.dividerX {
  margin: 0px 0px 40px !important;
  background-color: rgba(217, 217, 217, 1);
}

.segmentContainer {
  // height: 50px;
  padding-top: 20px;
  :global(.ant-segmented-item-selected) {
    color: colors.$fulvous;
  }
  .segment {
    height: 35px;
    font-weight: bold !important;
  }
}

//? ============== Mobile View ============= ?//
@media screen and (max-width: 500px) {
  .searchContainer {
    padding: 20px 0px;
    height: auto;
    align-items: center;
    p {
      margin-bottom: 0px;
    }
    h4 {
      font-size: font-size.$heading-4;
      margin: 0px;
    }
    .divider {
      height: 1px;
      background-color: rgba(217, 217, 217, 1);
      margin: 20px 0px;
    }
  }
}
// * ====================================== * //
