//? ========= Header Dashboard =========== ?//

.dashboard-header-logout {
  margin-bottom: 0;
  transition: all 0.3s ease;
  &:hover {
    color: #1890ff;
    cursor: pointer;
  }
}

.dashboard-header-user-popover {
  width: 100px;
}

.dashboard-layout-header {
  background: #ffffff;
  z-index: 1;
  width: 95%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dashboard-header-ava {
  text-align: center;
  margin-right: 50px;
}

.dashboard-header-logo-container {
  height: 64px;
  display: flex;
  align-items: center;
  background: transparent;
  .dashboard-header-logo {
    height: 30px;
    position: relative;
    width: 100%;
  }
}

//* =========================================== *//

//? ========= Side Bar Dashboard ============== ?//

.dashboard-sider {
  border-radius: 0 20px 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .ant-layout-sider-trigger {
    bottom: 30px;
  }
}

//* =========================================== *//

//? ========= Content Dashboard ============== ?//

.dashboard-card-container {
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dashboard-boxed-container {
  width: 95%;
  margin: 0 auto;
}

//* =========================================== *//

//? ========= General Custom Dashboard =========== ?//

#dashboard.main-dashboard-layout {
  max-height: 100vh;
  overflow: hidden;
  main {
    overflow: auto;
  }

  .d-none {
    display: none;
  }

  .ant-layout-sider {
    .ant-layout-sider-children {
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .ant-upload.ant-upload-select-picture-card {
    width: 100%;
    height: 100%;
  }

  // Ant Image
  .ant-image {
    width: 100% !important;
    height: 100% !important;
  }

  //? Artwork Exhibition Selection
  .AppArtworkExhibitionSelect {
    .ant-select-selector {
      height: 100% !important;
    }
    .ant-row-middle {
      height: 100% !important;
    }
  }
}

//* =========================================== *//
