@use "/themes/styles/base/colors";

.section {
  background: #0a0a0a;
}

.footer {
  padding: 0 !important;

  display: "flex";
  align-items: "center";

  .footerContainer {
    height: auto;
    padding: 80px 50px 40px;
    .s {
      display: flex;
      justify-content: space-evenly;
      .logoSocial {
        font-size: 20px;
      }
    }
    .imageContainer {
      width: 100%;
      height: 56px;
      margin: 0 auto 20px;
      cursor: pointer;
      img {
        object-fit: contain;
      }
    }
    .descContainer {
      height: 250px;
      display: flex;
      flex-direction: column;
      .divider {
        height: 2px;
        width: 10%;
        background: colors.$fulvous;
        margin: 0px 0px 20px;
      }
    }
    p {
      font-size: 16px;
      color: colors.$white;
    }
    h1 {
      color: colors.$white;
      font-size: 18px;
      font-weight: 700;
    }
    a {
      margin: 5px 0px;
      color: colors.$white;
      cursor: pointer;
      &:hover {
        color: colors.$fulvous;
        transition: 300ms all ease;
      }
    }
    .logoSocial {
      width: auto;
      display: flex;
      justify-content: flex-start;
      .logo {
        cursor: pointer;
        color: colors.$white;
        transition: 300ms all ease;
        font-size: 16px;
        &:hover {
          color: colors.$fulvous;
          transition: 300ms all ease;
        }
      }
    }
  }
  a {
    color: colors.$white;
  }
  .icon {
    color: colors.$white;
    width: 20px;
    font-size: 16px;
    margin-right: 10px;
  }
}
.bottomContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  .terms {
    text-align: right;
    &:hover {
      color: colors.$fulvous;
      transition: 300ms all ease;
    }
  }
  p,
  a {
    color: colors.$white;
    font-size: 16px;
  }
}
.divider {
  background: colors.$white;
  margin: 50px 0px 40px;
}

//? ============== Tablet Landsccape Mode ============= ?//
@media screen and (max-width: 1024px) {
  .footer {
    .footerContainer {
      padding: 80px 30px 40px;
      .s {
        display: flex;
        justify-content: space-evenly;
        .logoSocial {
          font-size: 20px;
        }
      }
      .imageContainer {
        width: 100%;
        height: 56px;
        margin: 0 auto 20px;
        cursor: pointer;
        img {
          object-fit: contain;
        }
      }
      .descContainer {
        height: 250px;
        display: flex;
        flex-direction: column;
      }
      p {
        font-size: 16px;
        color: colors.$white;
      }
      h1 {
        color: colors.$white;
        font-size: 18px;
        font-weight: 700;
      }
      a {
        margin: 5px 0px;
        color: colors.$white;
        cursor: pointer;
        &:hover {
          color: colors.$fulvous;
          transition: 300ms all ease;
        }
      }
      .logoSocial {
        .logo {
          cursor: pointer;
          color: colors.$white;
          transition: 300ms all ease;
          font-size: 16px;
          &:hover {
            color: colors.$fulvous;
            transition: 300ms all ease;
          }
        }
      }
    }
    a {
      color: colors.$white;
    }
    .icon {
      color: colors.$white;
      width: 20px;
      font-size: 16px;
      margin-right: 10px;
    }
  }
  .bottomContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .terms {
      &:hover {
        color: colors.$fulvous;
        transition: 300ms all ease;
      }
    }
    p,
    a {
      color: colors.$white;
      font-size: 16px;
    }
  }
}
// * ====================================== * //

//? ============== Tablet Potrait ============= ?//
@media screen and (max-width: 768px) {
  .footer {
    .footerContainer {
      padding: 80px 10px 40px;
      .s {
        display: flex;
        justify-content: space-evenly;
        .logoContainer {
          margin-bottom: 30px;
          padding: 0px 120px !important;
          p {
            text-align: center;
          }
        }
        .logoSocial {
          font-size: 20px;
        }
      }
      .imageContainer {
        width: 100%;
        height: 56px;
        margin: 0 auto 20px;
        cursor: pointer;
        img {
          object-fit: contain;
        }
      }
      .descContainer {
        height: 200px;
        display: flex;
        flex-direction: column;
      }
      p {
        font-size: 16px;
        color: colors.$white;
      }
      h1 {
        color: colors.$white;
        font-size: 18px;
        font-weight: 700;
      }
      a {
        margin: 5px 0px;
        color: colors.$white;
        cursor: pointer;
        &:hover {
          color: colors.$fulvous;
          transition: 300ms all ease;
        }
      }
      .logoSocial {
        .logo {
          cursor: pointer;
          color: colors.$white;
          transition: 300ms all ease;
          font-size: 16px;
          &:hover {
            color: colors.$fulvous;
            transition: 300ms all ease;
          }
        }
      }
    }
    a {
      color: colors.$white;
    }
    .icon {
      color: colors.$white;
      width: 20px;
      font-size: 16px;
      margin-right: 10px;
    }
  }
  .bottomContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .terms {
      &:hover {
        color: colors.$fulvous;
        transition: 300ms all ease;
      }
    }
    p,
    a {
      color: colors.$white;
      font-size: 16px;
    }
  }
  .divider {
    background: colors.$white;
    margin: 50px 0px 40px;
  }
}

//? ============== Mobile Mode ============= ?//
@media screen and (max-width: 500px) {
  .footer {
    .footerContainer {
      padding: 80px 0px 40px;
      .s {
        display: flex;
        justify-content: space-between;
        .logoContainer {
          margin-bottom: 30px;
          padding: 0px 20px !important;
          p {
            text-align: center;
          }
        }
        .logoSocial {
          font-size: 20px;
        }
      }
      .imageContainer {
        width: 100%;
        height: 45px;
        margin: 0 auto 20px;
        cursor: pointer;
        img {
          object-fit: contain;
        }
      }
      .descContainer {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        color: colors.$white;
      }
      h1 {
        color: colors.$white;
        font-size: 18px;
        font-weight: 700;
      }
      a {
        margin: 5px 0px;
        color: colors.$white;
        cursor: pointer;
        &:hover {
          color: colors.$fulvous;
          transition: 300ms all ease;
        }
      }
      .logoSocial {
        .logo {
          cursor: pointer;
          color: colors.$white;
          transition: 300ms all ease;
          font-size: 16px;
          &:hover {
            color: colors.$fulvous;
            transition: 300ms all ease;
          }
        }
      }
    }
    a {
      color: colors.$white;
    }
    .icon {
      color: colors.$white;
      width: 20px;
      font-size: 16px;
      margin-right: 10px;
    }
  }
  .bottomContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .terms {
      text-align: center;

      &:hover {
        color: colors.$fulvous;
        transition: 300ms all ease;
      }
    }
    p,
    a {
      color: colors.$white;
      font-size: 16px;
    }
  }
  .divider {
    background: colors.$white;
    margin: 50px 0px 40px;
  }
}
// * ====================================== * //
