.section {
  margin: 30px 0;
}

.whiteSection {
  background-color: #ffffff;
}

//? ============== Artist Details Section ============= ?//
.artistSection {
  padding: 30px 0;
  text-align: center;
}

.artistTitleContainer {
  h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
}

.artistAvatar {
  width: 200px;
  height: 200px;
  border: 5px solid #e5890a;
  margin: 10px 0;
}

.artistNameContainer {
  h1 {
    font-size: 28px;
    margin-bottom: 0;
  }
}

.artistCityContainer {
  h4 {
    font-weight: 500 !important;
  }
  margin-bottom: 30px;
}

.artistDescriptionContainer {
  margin: 0 auto;
}

.artistDividerContainer {
  width: 150px;
  margin: auto;
}

.artistDivider {
  background-color: #e5890a;
  height: 5px;
}

// * ====================================== * //

//? ============== Other Artwork Section ============= ?//
.otherArtworkTitleContainer {
  margin: 20px 0;
}
.otherArtworkDivider {
  margin: 20px 0;
}
// * ====================================== * //

//? ============== Tablet Landscape Version ============= ?//
@media screen and (max-width: 1024px) {
  .otherArtworkListContainer {
    flex-wrap: nowrap;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
// * ====================================== * //
