.container {
  background: #ffffff !important;
  padding: 0 !important;
  height: 64px !important;
}

.logo {
  width: 120px;
  height: 100%;
  cursor: pointer;
}

.nameContainer {
  height: 30px;
  text-align: right;
  margin: 0px 12px;
  width: auto;
  transition: all 300ms ease;
  cursor: pointer;
  &:hover {
    width: auto;
    color: #e5890a;
    transition: all 300ms ease;
  }
}

.userName {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 15px;
  line-height: 15px;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.userRole {
  margin: 4px 0px 0px 0px;
  padding: 0px;
  width: auto;
  height: 10px;
  line-height: 10px;
  color: #e5890a;
  font-size: 10px;
}

.menu {
  display: flex;
  align-items: center;
  .hamburger {
    font-size: 24px;
  }
}

.dot1 {
  background-color: #e5890a;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: relative;
  bottom: 10px;
  left: 30px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  font-weight: 800;
}

.dot2 {
  background-color: #e5890a;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: relative;
  bottom: 10px;
  left: 40px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  font-weight: 800;
}

.avatar {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

//? ============== Mobile Mode ============= ?//
@media screen and (max-width: 500px) {
  .mobileHidden {
    display: none !important;
  }
}
// * ====================================== * //
