.container {
  background: #ffffff !important;
  padding: 0 !important;
  height: 64px !important;
}

.logo {
  width: 120px;
  height: 100%;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  .hamburger {
    font-size: 24px;
  }
}

.dot {
  background-color: black;
  border-radius: 100%;
  position: absolute;
}

.avatar {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

//? ============== Mobile Mode ============= ?//
@media screen and (max-width: 500px) {
  .mobileHidden {
    display: none !important;
  }
}
// * ====================================== * //
