.roleContainer {
  .imageContainer {
    height: 500px !important;
    .image {
      height: 500px;
      object-fit: cover;
    }
  }
  .descriptionContainer {
    height: 500px;
    background: #ffffff;

    .description {
      display: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 100px 100px;
      margin: auto;
      .divider {
        height: 2px;
        width: 10%;
        background: #e5890a;
        margin: 0px 0px 10px;
      }
      h1 {
        font-size: 32px;
        margin: 0px !important;
      }
      h4 {
        font-size: 24px;
        font-weight: 200 !important;
      }
    }
  }
}

//? ============== Tablet Landscape View ============= ?//
@media screen and (max-width: 1024px) {
  .roleContainer {
    .imageContainer {
      height: 450px !important;
      .image {
        height: 450px;
      }
    }
    .descriptionContainer {
      height: 450px;
      .description {
        padding: 60px 70px;

        .divider {
          width: 20%;

          margin: 0px 0px 10px;
        }
        h1 {
          font-size: 24px;
        }
        h4 {
          font-size: 18px;
        }
      }
    }
  }
}

//? ============== Tablet Potrait View ============= ?//
@media screen and (max-width: 768px) {
  .roleContainer {
    .imageContainer {
      height: 350px !important;
      .image {
        height: 350px;
      }
    }
    .descriptionContainer {
      height: 350px;
      .description {
        padding: 40px;
      }
    }
  }
}

//? ============== Mobile View ============= ?//
@media screen and (max-width: 500px) {
  .roleContainer {
    .imageContainer {
      height: 350px !important;
      .image {
        height: 350px;
      }
    }
    .descriptionContainer {
      height: 350px;
      .description {
        padding: 40px;

        .divider {
          width: 20%;

          margin: 0px 0px 10px;
        }
        h1 {
          font-size: 24px;
        }
        h4 {
          font-size: 18px;
        }
      }
    }
  }
}
