.section {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin: 150px auto;
}

.image {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  img {
    object-fit: contain;
  }
}

.text {
  h1 {
    font-size: 24px;
    margin: 0;
  }
  p {
    font-family: "Aileron";
    font-weight: 200;
    font-size: 14px;
  }
}
