@use "/themes/styles/base/colors";
@use "/themes/styles/base/font-size";

.container {
  display: flex;
  justify-content: space-between;

  .description {
    height: 300px;
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: space-between;
    h1 {
      font-size: font-size.$heading-1;
      line-height: 55px;

      span {
        color: colors.$fulvous;
      }
    }
    p {
      font-size: font-size.$heading-4;
    }
  }
  .imageContainer {
    padding: 0px 10px !important;
    display: flex;
    justify-content: space-between;
  }
  .btnArrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    padding: 0px !important;
    margin-top: 20px;
    color: colors.$white;
  }
}

.slider {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0px 0px 20px 0px;
  transition: 300ms all ease;
  margin: 0px !important;

  /* width */
  &::-webkit-scrollbar {
    height: 5px !important;
    width: auto;
    background: transparent; /* make scrollbar transparent */
    -webkit-appearance: none;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    width: 5px !important;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #f4a941;
    border-radius: 20px;
    transition: 300ms all ease;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: colors.$fulvous !important;
    transition: 300ms all ease;
  }
}

//? ============== Tablet Landscape View ============= ?//
@media screen and (max-width: 1024px) {
  .container {
    .description {
      height: 250px;

      h1 {
        font-size: font-size.$heading-2;
        line-height: 40px;
      }
      p {
        font-size: font-size.$paragraph;
      }
    }
    .btn {
      padding: 0px !important;
    }
  }
}

//? ============== Tablet Potrait View ============= ?//
@media screen and (max-width: 768px) {
  .container {
    .description {
      height: auto;
      margin-bottom: 20px;
      justify-content: center;
      text-align: center;
      flex-direction: row;
      h1 {
        font-size: font-size.$heading-2;
        line-height: 40px;
        margin: 0px 0px 10px;
      }
      p {
        font-size: font-size.$paragraph;
      }
    }
    .btn {
      padding: 0px !important;
      margin-top: 0px !important;
      text-align: right;
      span {
        font-size: font-size.$paragraph !important;
      }
    }
  }

  .slider {
    &::-webkit-scrollbar-thumb {
      background: #f4a94100;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #f4a94100 !important;
    }
  }
}

//? ============== Mobile Potrait View ============= ?//
@media screen and (max-width: 500px) {
  .container {
    .description {
      height: auto;
      margin-bottom: 20px;
      text-align: center;

      h1 {
        font-size: font-size.$heading-2;
        line-height: 40px;
        margin: 0px;
      }
      p {
        font-size: font-size.$paragraph;
      }
    }
    .btn {
      padding: 0px !important;
    }
  }

  .slider {
    padding: 0px 0px 0px 0px;
    &::-webkit-scrollbar-thumb {
      background: #f4a94100;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #f4a94100 !important;
    }
  }
}
