.genreList {
  margin: 80px 0px;
}

.container {
  margin-bottom: 40px;
}

.bannerTitle {
  width: 100%;
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
  p {
    color: #eaeaea;
    margin-bottom: 0;
  }
}

//? ============== Tablet Potrait ============= ?//
@media screen and (max-width: 768px) {
  .genreList {
    margin: 40px 0px;
  }
}
