@use "/themes/styles/base/colors";
@use "/themes/styles/base/font-size";

.searchBox {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.sectionContainer {
  padding: 80px 0;
  background-color: #ffffff;
}

.divider {
  margin: 60px 0 100px;
  &:last-child {
    margin: 60px 0 0;
  }
}

.pageTitle {
  margin-bottom: 45px;
  h1 {
    margin-bottom: 10px !important;
  }
}

.pageTitle {
  // margin-bottom: 45px;
  h1 {
    margin-bottom: 10px !important;
  }
}

.carousel {
  width: auto;
  margin: 0px auto;
}

//TODO : This one is on test//

.slider {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 20px;
  transition: 300ms all ease;

  /* width */
  &::-webkit-scrollbar {
    height: 10px !important;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 5px !important;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c5c7c9 !important;
    border-radius: 20px;
    transition: 300ms all ease;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #a0a1a3 !important;
    transition: 300ms all ease;
  }
}

.exhibitionBackground {
  position: absolute;
  // margin-top: 120px;
  // height: 900px !important;
  filter: brightness(0.5);
}
.exhibitionContainer {
  // height: 900px;

  padding: 60px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .description {
    width: 500px;
    z-index: 1;
    color: colors.$white;
    margin: 0px;
    p {
      font-size: font-size.$paragraph;
      line-height: 33px;
      width: 90%;
    }
    h1 {
      font-size: font-size.$heading-1;
      line-height: 65px;
      color: colors.$white;
    }
  }
  .imageContainer {
    left: 12%;
    bottom: 30%;
    height: 550px;
    margin: 0;
    .image {
      object-fit: cover;
      transition: all 300ms ease;
      &:hover {
        scale: 1.05;
        transition: all 300ms ease;
      }
    }
  }
  .moreExhibitionContainer {
    // display: flex;
    margin: auto;
    color: colors.$white;
    margin: 0;
    height: auto;
    .list {
      margin-bottom: 20px;
    }
  }
}

.role {
  padding: 0px 30px;
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0px;
  .description {
    text-align: center;
    .card {
      // background-image: url("/images/artwork-1.jpg");
      box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.3);
      .roleLogo {
        width: 80px;
        height: 80px;
        border: 5px solid;
        border-radius: 100%;
        color: colors.$fulvous;
        margin: auto;
      }
      h1 {
        font-size: font-size.$heading-3;
        font-weight: 600;
        margin: 20px 0px 0px;
        color: colors.$fulvous;
      }
      h4 {
        margin: 0px 0px 10px;
        color: colors.$fulvous;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
}

.whatWeDoDivider {
  // background: black;
  margin: 120px 0px 60px;
  // width: auto;
}
.whatWeDo {
  padding: 0px 30px;
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0px;
  .description {
    text-align: center;
    .artistImage {
      width: 80px;
      height: 80px;
      border: 5px solid;
      border-radius: 100%;
      color: colors.$fulvous;
      margin: auto;
    }
    h1 {
      font-size: font-size.$heading-3;
      margin-top: 20px;
    }
  }
}

.articleContainer {
  background: linear-gradient(90deg, rgba(20, 12, 1, 1) 60%, black 100%);
  margin-top: 80px;
}
.container {
  padding: 160px 100px;
  .description {
    position: absolute;
    left: 60px;
    top: 290px;
    width: 500px;
    z-index: 1;
    color: colors.$white;
    margin: 0px;
    p {
      font-size: font-size.$paragraph;
      line-height: 33px;
      width: 50%;
    }
    h1 {
      font-size: font-size.$heading-1;
      line-height: 65px;
      color: colors.$white;
    }
  }
  .imageContainer {
    left: 12%;
    bottom: 30%;
    height: 550px;
    margin: 0;
    .image {
      object-fit: cover;
      transition: all 300ms ease;
      &:hover {
        scale: 1.05;
        transition: all 300ms ease;
      }
    }
  }
  .moreArticleContainer {
    color: colors.$white;
    margin: 0;
    height: auto;
    left: 16%;
  }
}

.reviewContainer {
  padding: 120px 0px;
  // background-image: url("/images/review-background.png");
  background: #f8f5f0;
  .review {
    // padding: 120px 0px 120px;
    h1 {
      font-size: font-size.$heading-1;
      line-height: 65px;
      text-align: center;
    }
  }
}

.carouselUserPreview {
  text-align: center;
  height: 300px;
}

.joinImage {
  height: 450px;
  background-image: url("/images/homepage-join-today.png");
  // background: ;

  padding-top: 150px;
  .joinContainer {
    width: 50%;

    margin: auto;
    text-align: center;
    h1 {
      font-size: font-size.$heading-2;
      font-weight: 700;
      line-height: 30px;
      color: colors.$white;
      margin-bottom: 20px;
    }
  }
}

.footer {
  // height: 400px;
  background: colors.$smoky-black;
  display: "flex";
  align-items: "center";
  color: colors.$white;
  .footerContainer {
    height: auto;
    padding: 80px 50px;
    .s {
      display: flex;
      justify-content: space-evenly;
      .logoSocial {
        font-size: font-size.$heading-4;
      }
    }
    .imageContainer {
      margin-bottom: 30px;
      padding: 0px !important;
      .image {
        width: 200px;
        object-fit: contain;
      }
    }
    h1 {
      color: colors.$white;
      font-size: font-size.$heading-4;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p {
      cursor: pointer;
      &:hover {
        color: colors.$fulvous;
        transition: 300ms all ease;
      }
    }
  }
  .terms {
    &:hover {
      color: colors.$fulvous;
      transition: 300ms all ease;
    }
  }
  .divider {
    background: colors.$white;
    margin: 50px 0px 20px;
  }
}

//TODO : This one is on test//

//? ============== Tablet Landscape Mode ============= ?//
@media screen and (max-width: 1024px) {
  .list {
    flex-wrap: nowrap;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
// * ====================================== * //
