@use "/themes/styles/base/colors";
@use "/themes/styles/base/font-size";
@use "/themes/styles/base/font-weight";

.backIcon {
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease;
  &:hover {
    color: colors.$fulvous;
  }
}

.profileBanner {
  height: 300px;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.profileImage {
  border-radius: 100%;
  text-align: center;
  img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin: auto;
  }
}

.profileDetails {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .name {
    font-size: font-size.$heading-3;
    font-weight: font-weight.$bold;
    margin: 0;
  }
  .email {
    font-size: font-size.$paragraph;
    font-weight: font-weight.$regular;
  }
}
