.backIcon {
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease;
  &:hover {
    color: #e5890a;
  }
}

.profileBanner {
  height: 300px;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.profileImage {
  border-radius: 100%;
  text-align: center;
  img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin: auto;
  }
}

.profileDetails {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .name {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
  .email {
    font-size: 14px;
    font-weight: 200;
  }
}
