@use "/themes/styles/base/colors";
@use "/themes/styles/base/font-size";
@use "/themes/styles/base/font-weight";

.container {
  background: colors.$white !important;
  padding: 0 !important;
  height: 64px !important;
  &.transparent {
    background: transparent !important;
  }
}

.headerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  &.transparent {
    h3 {
      color: colors.$white;
      margin: 0px !important;
    }
    .iconHeader {
      color: colors.$white;
      a {
        color: colors.$white !important;
      }
    }
  }
  h3 {
    color: colors.$smoky-black;
    margin: 0px !important;
  }
  .btn {
    cursor: pointer;
    :hover {
      color: colors.$fulvous;
      transition: all 300ms ease;
    }
  }

  .btnActive {
    h3 {
      color: colors.$white !important;
      text-decoration: underline;
      margin: 0px !important;
    }
  }
  .iconHeader {
    width: auto;
    display: flex;
    align-items: center;
    color: colors.$smoky-black;

    .nameContainer {
      height: 30px;
      text-align: right;
      margin: 0px 12px;
      width: auto;
      transition: all 300ms ease;
      cursor: pointer;
      &:hover {
        width: auto;
        color: colors.$fulvous;
        transition: all 300ms ease;
      }
    }

    .userName {
      margin: 0px;
      padding: 0px;
      width: auto;
      height: 15px;
      line-height: 15px;
      font-weight: font-weight.$bold;
      font-size: font-size.$paragraph;
      white-space: nowrap;
      overflow: hidden;
    }

    .userRole {
      margin: 4px 0px 0px 0px;
      padding: 0px;
      width: auto;
      height: 10px;
      line-height: 10px;
      color: colors.$fulvous;
      font-size: 10px;
    }

    a {
      font-weight: font-weight.$bold;
      color: colors.$smoky-black !important;
      margin: 0px 10px;
      font-size: font-size.$paragraph;
      transition: all 300ms ease;
      cursor: pointer;
      &:hover {
        transition: all 300ms ease;
        color: colors.$fulvous !important;
        text-decoration: underline;
      }
    }
  }

  .hamburger {
    font-size: font-size.$heading-4;
  }
}

//? ============== Mobile Mode ============= ?//
@media screen and (max-width: 768px) {
  .mobileHidden {
    display: none !important;
  }

  .headerContainer {
    .header {
      padding: 0px 0px !important;
    }
  }

  .iconHeader {
    width: auto;
    display: flex;
    align-items: center;
    height: 64px !important;
    .nameContainer {
      height: 30px;
      text-align: right;
      margin: 0px 12px;
      width: auto;
      transition: all 300ms ease;
      cursor: pointer;
      &:hover {
        width: auto;
        color: colors.$fulvous;
        transition: all 300ms ease;
      }
    }

    .userName {
      margin: 0px;
      padding: 0px;
      width: auto;
      height: 15px;
      line-height: 15px;
      font-weight: font-weight.$bold;
      font-size: font-size.$paragraph;
      white-space: nowrap;
      overflow: hidden;
      color: colors.$smoky-black;
    }

    .userRole {
      margin: 4px 0px 0px 0px;
      padding: 0px;
      width: auto;
      height: 10px;
      line-height: 10px;
      color: colors.$fulvous;
      font-size: 10px;
    }

    a {
      font-weight: font-weight.$bold;
      color: rgb(0, 0, 0) !important;
      margin: 0px 10px;
      font-size: font-size.$paragraph;
      transition: all 300ms ease;
      cursor: pointer;
      &:hover {
        transition: all 300ms ease;
        color: colors.$fulvous !important;
        text-decoration: underline;
      }
    }
  }
}
// * ====================================== * //

//? ============== Mobile Mode ============= ?//
@media screen and (max-width: 500px) {
  .headerContainer {
    height: 50px !important;

    .header {
      padding: 0px 0px;
    }
  }
  .iconHeader {
    padding: 0 !important;
  }
  .headerItemContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .button {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .hamburger {
    margin-left: 20px;
  }
}
