@use "/themes/styles/base/font-size";

.sideTitle {
  font-size: font-size.$heading-3;
  margin: 0px;
}

.shareSection {
  justify-content: left;
  margin-top: 40px;
  p {
    text-align: left;
  }
}

.thumbnailSection {
  margin-top: 20px;
  // padding-left: 0 !important;
  // padding-right: 0 !important;
}

.thumbnailCard {
  margin-bottom: 10px;
  img {
    height: 100px !important;
  }
  p {
    color: #c4c4c4;
  }
}
