.content {
  min-height: calc(100vh - 64px - 321px) !important;
  position: relative;
  background: #f5ebe1 !important; //todo: LINEN
}

.mobileMenu {
  display: none;
}

.chatBoxContainer {
  z-index: 9000;
  cursor: pointer;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.chatBox {
  background-color: #e5890a;
  width: fit-content;
  padding: 10px;
  border-radius: 100%;
  transition: all 0.3s ease;
  &:hover {
    background-color: #e5a03f;
  }
  svg {
    width: 30px;
    height: 25px;
    path {
      fill: #ffffff;
    }
  }
}

//? ============== Tablet Landscape Mode ============= ?//
@media screen and (max-width: 1024px) {
  .mobileMenu {
    display: block;
  }

  .chatBoxContainer {
    display: none !important;
  }
}
// * ====================================== * //
