@use "/themes/styles/base/colors";

.container {
  background: #f8f5f0 !important;
  padding: 0 !important;
  height: 64px !important;
}

.logo {
  width: 120px;
  height: 100%;
  cursor: pointer;
}

.headerContainer {
  z-index: 2;
  position: absolute;
  top: 0px;
  padding: 0 !important;
  height: 100px !important;
  width: 100%;
  .header {
    padding: 0px 0px;
    height: 64px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black !important;
    width: 100%;

    .logo {
      width: 120px;
      height: 100%;
      cursor: pointer;
    }
    .avatar {
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
    .iconHeader {
      width: auto;
      display: flex;
      align-items: center;
      .nameContainer {
        height: 30px;
        text-align: right;
        margin: 0px 12px;
        width: auto;
        transition: all 300ms ease;
        cursor: pointer;
        &:hover {
          width: auto;
          color: colors.$fulvous;
          transition: all 300ms ease;
        }
      }

      .userName {
        margin: 0px;
        padding: 0px;
        width: auto;
        height: 15px;
        line-height: 15px;
        font-weight: 700;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
      }

      .userRole {
        margin: 4px 0px 0px 0px;
        padding: 0px;
        width: auto;
        height: 10px;
        line-height: 10px;
        color: colors.$fulvous;
        font-size: 10px;
      }

      a {
        font-weight: 700;
        color: black !important;
        margin: 0px 10px;
        font-size: 14px;
        transition: all 300ms ease;
        cursor: pointer;
        &:hover {
          transition: all 300ms ease;
          color: colors.$fulvous !important;
          // font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }
}

.hamburger {
  font-size: 18px;
  margin-left: 20px;
}

.dot1 {
  background-color: colors.$fulvous;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: relative;
  bottom: 10px;
  left: 30px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  font-weight: 800;
}

.dot2 {
  background-color: colors.$fulvous;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: relative;
  bottom: 10px;
  left: 40px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  font-weight: 800;
}

.avatar {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

//? ============== Mobile Mode ============= ?//
@media screen and (max-width: 768px) {
  .mobileHidden {
    display: none !important;
  }

  .headerContainer {
    .header {
      padding: 0px 0px !important;
    }
  }

  .iconHeader {
    width: auto;
    display: flex;
    align-items: center;
    height: 64px !important;
    .nameContainer {
      height: 30px;
      text-align: right;
      margin: 0px 12px;
      width: auto;
      transition: all 300ms ease;
      cursor: pointer;
      &:hover {
        width: auto;
        color: colors.$fulvous;
        transition: all 300ms ease;
      }
    }

    .userName {
      margin: 0px;
      padding: 0px;
      width: auto;
      height: 15px;
      line-height: 15px;
      font-weight: 700;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      color: black;
    }

    .userRole {
      margin: 4px 0px 0px 0px;
      padding: 0px;
      width: auto;
      height: 10px;
      line-height: 10px;
      color: colors.$fulvous;
      font-size: 10px;
    }

    a {
      font-weight: 700;
      color: rgb(0, 0, 0) !important;
      margin: 0px 10px;
      font-size: 14px;
      transition: all 300ms ease;
      cursor: pointer;
      &:hover {
        transition: all 300ms ease;
        color: colors.$fulvous !important;
        text-decoration: underline;
      }
    }
  }
}
// * ====================================== * //

//? ============== Mobile Mode ============= ?//
@media screen and (max-width: 500px) {
  .headerContainer {
    .headerBox {
      margin: 0;
      width: 100%;
      max-width: 100% !important;
    }
    .header {
      padding: 0px 0px;
    }
  }
  .iconHeader {
    padding: 0 !important;
  }
  .headerItemContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .button {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
