.searchTitle {
  text-align: center;
  margin: 0 0 20px;
  h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.searchButton {
  width: 100%;
}

.priceTitle {
  text-align: center;
  p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #140c0155;
  }
}

.priceTag {
  background-color: #eaeaea;
  padding: 5px;
  font-size: 12px;
}

//? ============== Tablet Landscape Mode ============= ?//
@media screen and (max-width: 1024px) {
  .mobileHidden {
    display: none !important;
  }
}
// * ====================================== * //
