.searchTitle {
  text-align: center;
  margin: 0 0 20px;
  h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.searchButton {
  width: 100%;
}

.priceTitle {
  text-align: center;
  p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #140c0155;
  }
}

.priceTag {
  background-color: #eaeaea;
  padding: 5px;
  font-size: 12px;
}

.bannerTitle {
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
  p {
    color: #eaeaea;
    margin-bottom: 0;
  }
}

// .ant-collapse > .ant-collapse-item > .ant-collapse-header {
//   background: #e5890a !important;
// }

.searchCollapse {
  background: #e5890a;
}

//? ============== Tablet Landscape Mode ============= ?//
@media screen and (max-width: 1024px) {
  .mobileHidden {
    display: none !important;
  }
}
// * ====================================== * //
