@use "/themes/styles/base/colors";

.title {
  font-size: 36px;
  margin-bottom: 5px;
}

.tagList {
  margin-bottom: 5px;
  span {
    margin-right: 20px;
    font-weight: 700;
    color: colors.$fulvous;
    font-size: 18px;
  }
}

.postDate {
  color: colors.$fulvous;
  font-size: 16px;
}

.bannerImgContainer {
  height: 400px;
  margin-bottom: 20px;
  img {
    object-fit: cover;
    height: 400px !important;
  }
}

.content {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .bannerImgContainer {
    height: 250px;
    img {
      height: 250px !important;
    }
  }
}
