.subTotalContainer {
  display: flex;
  justify-content: flex-end;
  min-width: 280px;
  height: 100%;
  margin: auto 0px;
  .subTotalPrice {
    display: flex;
    justify-content: flex-end;
    .textSubtotal {
      font-family: "Aileron" !important;
      font-weight: 700;
      font-size: 18px;
      width: auto;
      margin-right: 20px;
      text-align: right;
      color: rgb(0, 0, 0);
    }
    .subtotal {
      min-width: 150px;
      height: 100%;
      margin: auto 0px;
      text-align: right;
      color: #e5890a;
      font-size: 18px;
      font-weight: 400;
      font-family: "Aileron" !important;
      display: flex;
      justify-content: space-between;
    }
  }
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}

.invoiceButton {
  width: 200px;
  height: 32px;
}

.totalPrice {
  min-width: 280px;
  height: 100%;
  margin: auto 0px;

  display: flex;
  justify-content: space-between;
}

.textTotal {
  font-family: "Aileron" !important;
  font-weight: 700;
  font-size: 18px;
  width: 120px;
  margin-right: 20px;
  text-align: right;
}

.total {
  width: 150px;
  height: 100%;
  margin: auto 0px;
  text-align: right;
  color: #e5890a;
  font-size: 18px;
  font-weight: 700;
  font-family: "Aileron" !important;
  display: flex;
  justify-content: space-between;
}

.divider {
  margin: 20px 0px;
  background: rgb(20, 20, 20);
}

//? ============== Mobile View ============= ?//
@media screen and (max-width: 500px) {
  .footerContainer {
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: 100%;
    margin: auto 0px;
  }
  .subTotalContainer {
    min-width: 200px;
    .subTotalPrice {
      .textSubtotal {
        font-size: 18px;
        margin-right: 5px;
      }
      .subtotal {
        min-width: 125px;
        font-size: 18px;
      }
    }
  }

  .totalPrice {
    display: flex;
    justify-content: flex-end;
    min-width: 200px;
  }

  .textTotal {
    font-size: 18px;
    margin-right: 5px;
  }

  .total {
    width: 125px;
    font-size: 18px;
    font-family: "Aileron" !important;
  }

  .invoiceButton {
    width: 100% !important;
    height: 32px;
    margin: 40px auto 10px;
    text-align: center;
  }
}
