@use "/themes/styles/base/colors";
@use "/themes/styles/base/font-size";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: colors.$white;
  padding: 60px 0px;
  margin-top: 48px;
  margin-bottom: 48px;
  height: 70vh;
}

.thankyouDescription {
  text-align: center;
  h1 {
    font-size: font-size.$heading-1 !important;
    margin-bottom: 15px;
  }
  h4 {
    font-size: font-size.$heading-2 !important;
    font-weight: 400 !important;
  }
  p {
    font-size: font-size.$paragraph !important;
    margin: 16px 0px 0px;
  }
}

.description {
  width: 464px;
  text-align: center;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  transition: all 300ms ease;
  &:hover {
    transition: all 300ms ease;
    color: colors.$fulvous;
  }
}

.button {
  margin: 0px 12px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.redirect {
  color: colors.$fulvous;
}

//? ============== Tablet View Potrait ============= ?//
@media screen and (max-width: 1024px) {
}

// * ====================================== * //

//? ============== Tablet View Landscape ============= ?//
@media screen and (max-width: 768px) {
  .thankyouDescription {
    h1 {
      font-size: font-size.$heading-2 !important;
      margin-bottom: 15px;
    }
    h4 {
      font-size: font-size.$heading-3 !important;
      font-weight: 400 !important;
    }
  }

  .description {
    width: 464px;
    text-align: center;
  }
}
// * ====================================== * //

//? ============== Tablet View Landscape ============= ?//
@media screen and (max-width: 768px) {
  .thankyouContainer {
    padding: 36px 24px;
    margin: 40px 24px;
    height: auto;
  }

  .thankyouDescription {
    h1 {
      font-size: font-size.$heading-3 !important;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    h4 {
      font-size: font-size.$heading-4 !important;
      font-weight: 400 !important;
    }
    p {
      font-size: font-size.$paragraph !important;
      margin: 16px 0px 0px;
    }
  }

  .description {
    width: 270px;
  }
}
// * ====================================== * //
