@use "/themes/styles/base/colors";

.exhibition {
  margin-top: 0px;
}
.exhibitionBackground {
  position: absolute;
  filter: brightness(0.5);
  height: 100vh !important;
  object-fit: cover;
}
.exhibitionContainer {
  height: 100vh;
  padding: 60px 50px 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .description {
    width: 500px;
    z-index: 1;
    color: colors.$white;
    margin: 0px;
    p {
      font-size: 16px;
      line-height: 30px;
      width: 90%;
    }
    h1 {
      font-size: 48px;
      line-height: 65px;
      color: colors.$white;
    }
  }
  .imageContainer {
    left: 12%;
    bottom: 30%;
    height: 550px;
    margin: 0;
    .image {
      object-fit: cover;
      transition: all 300ms ease;
      &:hover {
        scale: 1.05;
        transition: all 300ms ease;
      }
    }
  }
  .moreExhibitionContainer {
    color: colors.$white;
    height: auto;
    padding: 0px;
  }
}

//? ============== Tablet Landscape View ============= ?//
@media screen and (max-width: 1024px) {
  .exhibitionContainer {
    height: 90vh;
    padding: 10vh 20px;

    .description {
      width: 60%;

      p {
        font-size: 14px;
        line-height: 30px;
        width: 80%;
      }
      h1 {
        font-size: 32px;
        line-height: 60px;
      }
    }
  }
}

//? ============== Tablet Potrait View ============= ?//
@media screen and (max-width: 768px) {
  .exhibitionContainer {
    height: 75vh;
    padding: 5vh 20px;

    .description {
      width: 60%;

      p {
        font-size: 16px;
        line-height: 25px;
      }
      h1 {
        font-size: 48px;
        line-height: 60px;
      }
    }

    .btn {
      span {
        font-size: 16px;
      }
    }
  }
}

//? ============== Mobile View ============= ?//
@media screen and (max-width: 500px) {
  .moreExhibitionContainer {
    display: none;
  }

  .exhibitionContainer {
    height: 90vh;
    padding: 5vh 0px;

    .description {
      width: 60%;

      p {
        font-size: 14px;
        line-height: 25px;
        width: 100%;
      }
      h1 {
        font-size: 32px;
        line-height: 60px;
      }
    }

    .btn {
      text-align: center;
      span {
        display: flex;
        align-items: center;
        font-size: 16px;
      }
    }
  }
}
