@use "/themes/styles/base/colors";

.title {
  margin: 50px 0 30px;
}

.divider {
  width: 50%;
  min-width: 50%;
  margin: 0px auto 40px;
  border-top: 1px solid colors.$fulvous;
}

.contentContainer {
  margin: 0 auto;
}

.btnContainer {
  text-align: center;
  margin: 30px 0;
}
