@use "/themes/styles/base/colors";
@use "/themes/styles/base/font-size";

.bannerContainer {
  height: 100vh;
  :global(.banner-image) {
    height: 100vh;
  }
}

.bgwhite {
  background: colors.$white;
  display: flex;
  justify-content: center;
  h1 {
    font-size: font-size.$heading-1;
    line-height: 60px;
    margin: 0px;
  }
  h2 {
    font-size: font-size.$heading-2;
  }
  p {
    font-size: font-size.$paragraph;
    margin: 0px 0px 0px !important;
  }
  .description {
    padding: 80px 0px 40px;
    background: colors.$white;
    display: flex;
    justify-content: center;
    text-align: justify;
    h1 {
      margin-bottom: 40px;
      text-decoration: underline;
    }
  }

  .statistic {
    padding: 40px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    .divider {
      background: colors.$fulvous;
      height: 5px;
      border-radius: 10px;
    }
    h1 {
      font-weight: bold;
    }
    h2 {
      margin: 0px !important;
    }
  }
  .speechControl {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .speechHeadline {
      margin-bottom: 40px;
    }
  }

  .speechContainer {
    height: 660px;
    margin: 40px auto;

    .imageContainer {
      height: 100%;
      img {
        aspect-ratio: 3 / 4 !important;
        height: auto !important;
        width: 100%;
        object-fit: cover;
      }
    }
    p {
      text-align: justify;
    }
    h1 {
      font-size: font-size.$heading-1;
      margin: 0px 0px 10px;
      line-height: 60px;
    }
    h2 {
      font-size: font-size.$heading-2;
      margin: 0px;
      text-align: end;
    }
    h4 {
      font-size: font-size.$heading-3;
      color: colors.$fulvous;
      margin-bottom: 40px;
    }
    .speech {
      overflow-y: auto;
      height: 470px;
      width: auto;
      padding-left: 0px !important;
    }
    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: colors.$white;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: colors.$fulvous;
      border-radius: 50px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #c97a0c;
    }
  }

  .shoutoutAuction {
    display: flex;
    justify-content: flex-end;
    margin: 40px 0px;
    text-align: right;
    .verticalDivider {
      height: auto !important;
      width: 10px !important;
      background-color: colors.$fulvous !important;
      margin-left: 10px;
      border-radius: 10px;
    }
  }
}

.btnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0px !important;
  margin-top: 20px;
  color: colors.$white;
}
.carousel {
  text-align: center;
  .badge {
    position: absolute;
    z-index: 1;
  }
  .sliderItem {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px 8px;
    cursor: pointer;
    img {
      // height: 360px !important;
      aspect-ratio: 1 / 1;
      width: 100% !important;
      object-fit: cover;
      margin: auto !important;
      transition: 300ms all ease-in-out;
      &:hover {
        scale: 1.02;
      }
    }
    .image {
      filter: grayscale(80%) !important;
      &:hover {
        filter: grayscale(0%) !important;
      }
    }
  }
}

.headline {
  margin-bottom: 40px !important;
}

//? ============== Table Landscpae View ============= ?//
@media screen and (max-width: 1024px) {
  .bgwhite {
    background: colors.$white;
    display: flex;
    justify-content: center;
    h1 {
      font-size: font-size.$heading-2;
      line-height: 60px;
      margin: 0px;
    }
    h2 {
      font-size: font-size.$heading-3;
    }
    p {
      font-size: font-size.$paragraph;
    }
    .description {
      padding: 60px 0px 30px;

      h1 {
        margin-bottom: 30px;
      }
    }

    .statistic {
      padding: 30px 0px;
    }
    .speechControl {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      .speechHeadline {
        margin-bottom: 30px;
        .btnArrow {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .speechContainer {
      height: 100%;
      margin: 30px auto;
      .imageContainer {
        img {
          aspect-ratio: 3 / 5 !important;
        }
      }
      .speech {
        height: 300px;
      }
      h1 {
        font-size: font-size.$heading-2;
        margin: 0px 0px 10px;
        line-height: 45px;
      }
      h2 {
        font-size: font-size.$heading-3;
        margin: 0px;
        text-align: end;
      }
      h4 {
        font-size: font-size.$heading-4;
        color: colors.$fulvous;
        margin-bottom: 30px;
      }
    }

    .shoutoutAuction {
      display: flex;
      justify-content: flex-end;
      margin: 30px 0px;
      text-align: right;
    }
  }

  .btn {
    padding: 0px !important;
    margin-top: 20px;
    color: colors.$white;
  }

  .headline {
    margin-bottom: 30px !important;
  }
}
// * ====================================== * //

//? ============== Table Potrait View ============= ?//
@media screen and (max-width: 768px) {
  .bgwhite {
    background: colors.$white;
    display: flex;
    justify-content: center;
    h1 {
      font-size: font-size.$heading-2;
      line-height: 45px;
      margin: 0px;
    }
    h2 {
      font-size: font-size.$heading-3;
    }
    p {
      font-size: font-size.$paragraph;
    }
    .description {
      padding: 60px 0px 30px;

      h1 {
        margin-bottom: 30px;
      }
    }

    .statistic {
      padding: 30px 0px;
    }
    .speechControl {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      .speechHeadline {
        margin-bottom: 30px;
        .btnArrow {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .speechContainer {
      height: 100%;
      margin: 30px auto;
      .imageContainer {
        img {
          aspect-ratio: 3 / 4 !important;
        }
      }
      .speech {
        height: 300px;
      }
      h1 {
        font-size: font-size.$heading-2;
        margin: 0px 0px 10px;
        line-height: 45px;
      }
      h2 {
        font-size: font-size.$heading-3;
        margin: 0px;
        text-align: end;
      }
      h4 {
        font-size: font-size.$heading-4;
        color: colors.$fulvous;
        margin-bottom: 30px;
      }
    }

    .shoutoutAuction {
      display: flex;
      justify-content: flex-end;
      margin: 30px 0px;
      text-align: right;
    }
  }

  .btn {
    padding: 0px !important;
    margin-top: 20px;
    color: colors.$white;
  }

  .headline {
    margin-bottom: 30px !important;
  }
}
// * ====================================== * //

//? ============== Mobile View ============= ?//
@media screen and (max-width: 500px) {
  .bgwhite {
    background: colors.$white;
    display: flex;
    justify-content: center;
    h1 {
      font-size: font-size.$heading-3;
      line-height: 30px;
      margin: 0px;
    }
    h2 {
      font-size: font-size.$heading-4;
    }
    p {
      font-size: font-size.$paragraph;
    }
    .description {
      padding: 40px 0px 20px;

      h1 {
        margin-bottom: 20px;
      }
    }

    .statistic {
      padding: 20px 0px;
    }
    .speechControl {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .speechHeadline {
        margin-bottom: 20px;
        .btnArrow {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
        }
      }
    }

    .speechContainer {
      height: 100%;
      margin: 20px auto;
      .imageContainer {
        img {
          aspect-ratio: 1 / 1 !important;
        }
      }
      .speech {
        height: 400px;
      }
      h1 {
        font-size: font-size.$heading-3;
        margin: 0px 0px 10px;
        line-height: 45px;
      }
      h2 {
        font-size: font-size.$heading-4;
        margin: 0px;
        text-align: end;
      }
      h4 {
        font-size: font-size.$paragraph;
        color: colors.$fulvous;
        margin-bottom: 20px;
      }
    }

    .shoutoutAuction {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0px;
      text-align: right;
    }
  }

  .btn {
    padding: 0px !important;
    margin-top: 20px;
    color: colors.$white;
  }

  .headline {
    margin-bottom: 20px !important;
  }
}
// * ====================================== * //
