@use "/themes/styles/base/colors";
@use "/themes/styles/base/font-size";

.bannerContainer {
  height: 40vh;
  :global(.banner-image) {
    height: 40vh;
  }
}

.bgwhite {
  background: colors.$white;
  padding: 40px 0px;
}
.bgdefault {
  padding: 40px 0px;
}

.btnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 0px !important;
  margin-top: 20px;
  color: colors.$white;
}

.sliderItem {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px !important;
  img {
    height: 380px !important;
    width: 380px !important;
    object-fit: cover;
  }
}

.headline {
  margin: 0px 0px 40px;
}

.curatorContainer {
  background-color: colors.$white;
  text-align: center;

  .imageCurator {
    margin-bottom: 20px;
    .img {
      height: 300px !important;
      object-fit: cover;
      img {
        height: 300px !important;
      }
    }
  }
}
