//? ===================== Custom Font ========================== ?//

@font-face {
  font-family: "DM_serif_display";
  src: local("DM_Serif_Display"),
    url("/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  font-weight: normal;
  src: local("Aileron"), url("/fonts/Aileron/Aileron-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  font-weight: bold;
  src: local("Aileron_Bold"), url("/fonts/Aileron/Aileron-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  font-weight: 200;
  src: local("Aileron_Thin"), url("/fonts/Aileron/Aileron-Thin.ttf") format("truetype");
}

//* ============================================================ *//

//? ===================== Custom Color ========================== ?//

$fulvous: #e5890a;
$smoky-black: #140c01;
$gainsboro: #e0e0e0;
$white: #ffffff;

//* ============================================================ *//

//? ============== General Styling ============= ?//

// Flex Box
.d-flex {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
}

// Page Button
.page-button {
  &.default {
    background: $fulvous;
    color: $white;
    border: 2px solid $fulvous;
    &:hover {
      background: transparent;
      border: 2px solid #e5a03f;
      color: $fulvous;
    }
  }
  &.outlined {
    border: 2px solid $smoky-black;
    color: $smoky-black;
    &:hover {
      background: $smoky-black;
      color: $white;
    }
  }
}

// * ====================================== * //

//? =================== Page =========================== ?//

#frontpage {
  h1,
  h2,
  h3 {
    font-family: "DM_serif_display";
  }
  h4 {
    font-family: "Aileron";
    font-weight: bold;
  }
  h5 {
    font-family: "Aileron";
    font-weight: normal;
  }
  h6 {
    font-family: "Aileron";
    font-weight: 200;
  }
}

// Login Manage Page
#managepage {
  .managepage-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .managepage-background-image {
    z-index: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
    }
  }
  .managepage-content-container {
    z-index: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .managepage-content-icon {
      width: 150px;
      height: 150px;
      background-color: #140c01;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      span {
        fill: #e0e0e0;
        width: 60%;
        height: 60%;
      }
    }
    .managepage-button {
      width: 50%;
    }
  }
}
// ====================================

// About Page
#about {
  background-color: red;
}
// ====================================

// * ====================================== * //

//? =================== Responsive =========================== ?//

@import "responsive-max-1365";
@import "responsive-max-1024";
@import "responsive-max-768";
@import "responsive-max-500";

// * ====================================== * //
