//? ===================== Custom Font ========================== ?//

@font-face {
  font-family: "DM_serif_display";
  src: local("DM_Serif_Display"),
    url("/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  font-weight: normal;
  src: local("Aileron"), url("/fonts/Aileron/Aileron-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  font-weight: bold;
  src: local("Aileron_Bold"), url("/fonts/Aileron/Aileron-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  font-weight: 200;
  src: local("Aileron_Thin"), url("/fonts/Aileron/Aileron-Thin.ttf") format("truetype");
}

//* ============================================================ *//

//? ===================== Custom Color ========================== ?//

$fulvous: #e5890a;
$smoky-black: #140c01;
$gainsboro: #e0e0e0;
$white: #ffffff;

//* ============================================================ *//

//? ============== General Styling ============= ?//

// Flex Box
.d-flex {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
}
// ====================================

// Page Button
.page-button {
  &.default {
    background: $fulvous;
    color: $white;
    border: 2px solid $fulvous;
    &:hover {
      background: transparent;
      border: 2px solid #e5a03f;
      color: $fulvous;
    }
  }
  &.outlined {
    border: 1px solid $smoky-black;
    color: $smoky-black;
    &:hover {
      background: $smoky-black;
      color: $white;
    }
  }
}
// ====================================

// Simple Page Layout
.simplePageContainer-card {
  .ant-card-body {
    padding: 0;
  }
}
// ====================================

// Artwork Ribbon
.artwork-ribbon {
  &.hide {
    display: none;
  }
}
// ====================================

// Not Publish Artwork
.artwork-not-publish {
  filter: grayscale(1);
  &:hover {
    filter: grayscale(0);
  }
}
// ====================================

// * ====================================== * //

//? =================== Page =========================== ?//

#frontpage {
  h1,
  h2,
  h3 {
    font-family: "DM_serif_display";
  }
  h4 {
    font-family: "Aileron";
    font-weight: bold;
  }
  h5 {
    font-family: "Aileron";
    font-weight: normal;
  }
  h6 {
    font-family: "Aileron";
    font-weight: 200;
  }

  // Form
  .ant-form-item {
    margin-bottom: 20px;
    .ant-form-item-label {
      font-family: "Aileron";
      font-weight: 600;
    }
    .ant-select-selector {
      height: 50px;
      align-items: center;
    }
    input {
      height: 50px;
      &::placeholder {
        font-family: "Aileron";
      }
    }
    .ant-input-password {
      input {
        height: 40px;
      }
    }
  }
  // ====================================

  // Checkbox
  .ant-checkbox-wrapper {
    span {
      font-family: "Aileron";
    }
  }
  // ====================================

  // Custom Radio Button
  .radioCard {
    width: 100%;
    > .ant-radio {
      display: none;
    }
    > span {
      width: 100%;
      padding: 0;
    }
    .ant-card-body {
      width: 100%;
    }
  }
  // ====================================

  // Ant Image
  .ant-image {
    width: 100% !important;
    height: 100% !important;
    .ant-image-img {
      height: 100% !important;
    }
  }
  // ====================================
}

// Login Manage Page
#managepage {
  .managepage-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .managepage-background-image {
    z-index: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
    }
  }
  .managepage-content-container {
    z-index: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .managepage-content-icon {
      width: 150px;
      height: 150px;
      background-color: #140c01;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      span {
        fill: #e0e0e0;
        width: 60%;
        height: 60%;
      }
    }
    .managepage-button {
      width: 50%;
    }
  }
}
// ====================================

// About Page
#about {
  background-color: red;
}
// ====================================

// * ====================================== * //

//? ============== Components ============= ?//

// Themes Search
.theme-search-box {
  .ant-select-selector {
    height: 40px !important;
    align-items: center !important;
    .ant-select-selection-search {
      display: flex !important;
      align-items: center !important;
      width: 70% !important;
      input {
        font-family: "Aileron";
      }
    }
    .ant-select-selection-placeholder {
      font-family: "Aileron" !important;
    }
  }
  .ant-select-arrow {
    width: 30px !important;
    margin: 0 !important;
    top: 0 !important;
    transform: translate(0px, 5px) !important;
  }
}
// =================================

// Artwork Card
.artworkCardList {
  .ant-card-body {
    padding: 0;
  }
}
// =================================

// Page Banner
.page-bannerContainer {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
}
.page-bannerTitle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 42px;
    color: #ffffff;
  }
}
// =================================

// * ====================================== * //

//? =================== Responsive =========================== ?//

@import "responsive-max-1365";
@import "responsive-max-1024";
@import "responsive-max-768";
@import "responsive-max-500";

// * ====================================== * //
